#gameonofftext {
  color: blue;
}

@keyframes explodedgravity {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(500%);
  }
}

.letterbuttons {
	font-size: 2em;
}

.exploded {
	font-size: 2em;
	animation-name: explodedgravity;
	animation-duration: 1s;
}